# === Java compiled files ===
*.class
*.class~

# === BlueJ metadata files ===
*.ctxt
*.pkg
*.obj
*.bluej
bluej.pkg
bluej.pref
bluej.debug
bluej.diagram

# === Temporary / backup files ===
*.log
*.tmp
*.bak
*~
