# === Java compiled files ===
*.class
*.class~

# === BlueJ metadata files ===
*.ctxt
*.pkg
*.obj
bluej.pkg
bluej.pref
bluej.debug
bluej.diagram
package.bluej

# === Temporary / backup files ===
*.log
*.tmp
*.bak
*~
